@charset "UTF-8";
/*Varibal*/
:root{
    --dark-color: rgb(21, 32, 43);
    --dark-color-2: rgb(25, 39, 52);
}
svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    pointer-events: none;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
a, a:hover{
    color: unset;
    text-decoration: none;
}
.hide {
    position: absolute;
    clip: rect(0 0 0 0);
}

.img_reponsive{
    width: 100%;
    height: auto;
}
.img_100{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
p{
    margin: 0;
    padding: 0;
}
input, input:focus, textarea, textarea:focus {
    background: transparent;
    border: unset;
    outline: none;
}
.reset-form-control, .reset-form-control:hover, .reset-form-control:focus {
    background-color: unset;
    border: unset;
    box-shadow: unset;
}
.oh {
    overflow: hidden;
}
.db {
    display: block;
}
.dn,
.hidden {
    display: none;
}
.dib {
    display: inline-block;
}
.tr {
    text-align: right;
}
.tc {
    text-align: center;
}
.tl {
    text-align: left;
}
.fl {
    display: inline;
    float: left;
}
.fr {
    float: right;
}
.fi {
    font-style: italic;
}
.wsn {
    white-space: nowrap;
}
.pr {
    position: relative;
}
.pa {
    position: absolute;
}
.pf {
    position: fixed;
}
.r0 {
    right: 0;
}
.l0 {
    left: 0;
}
.b0 {
    bottom: 0;
}
.t0 {
    top: 0;
}
.pt2 {
    padding-top: 2px;
}
.pr2 {
    padding-right: 2px;
}
.pb2 {
    padding-bottom: 2px;
}
.pl2 {
    padding-left: 2px;
}
.pt4 {
    padding-top: 4px;
}
.pr4 {
    padding-right: 4px;
}
.pb4 {
    padding-bottom: 4px;
}
.pl4 {
    padding-left: 4px;
}
.pt8 {
    padding-top: 8px;
}
.pr8 {
    padding-right: 8px;
}
.pb8 {
    padding-bottom: 8px;
}
.pl8 {
    padding-left: 8px;
}
.pt12 {
    padding-top: 12px;
}
.pr12 {
    padding-right: 12px;
}
.pb12 {
    padding-bottom: 12px;
}
.pl12 {
    padding-left: 12px;
}
.pt16 {
    padding-top: 16px;
}
.pr16 {
    padding-right: 16px;
}
.pb16 {
    padding-bottom: 16px;
}
.pl16 {
    padding-left: 16px;
}
.pt20 {
    padding-top: 20px;
}
.pr20 {
    padding-right: 20px;
}
.pb20 {
    padding-bottom: 20px;
}
.pl20 {
    padding-left: 20px;
}
.pt24 {
    padding-top: 24px;
}
.pr24 {
    padding-right: 24px;
}
.pb24 {
    padding-bottom: 24px;
}
.pl24 {
    padding-left: 24px;
}
.pt32 {
    padding-top: 32px;
}
.pr32 {
    padding-right: 32px;
}
.pb32 {
    padding-bottom: 32px;
}
.pl32 {
    padding-left: 32px;
}
.mt2 {
    margin-top: 2px;
}
.mr2 {
    margin-right: 2px;
}
.mb2 {
    margin-bottom: 2px;
}
.ml2 {
    margin-left: 2px;
}
.mt4 {
    margin-top: 4px;
}
.mr4 {
    margin-right: 4px;
}
.mb4 {
    margin-bottom: 4px;
}
.ml4 {
    margin-left: 4px;
}
.mt8 {
    margin-top: 8px;
}
.mr8 {
    margin-right: 8px;
}
.mb8 {
    margin-bottom: 8px;
}
.ml8 {
    margin-left: 8px;
}
.mt12 {
    margin-top: 12px;
}
.mr12 {
    margin-right: 12px;
}
.mb12 {
    margin-bottom: 12px;
}
.ml12 {
    margin-left: 12px;
}
.mt16 {
    margin-top: 16px;
}
.mr16 {
    margin-right: 16px;
}
.mb16 {
    margin-bottom: 16px;
}
.ml16 {
    margin-left: 16px;
}
.mt20 {
    margin-top: 20px;
}
.mr20 {
    margin-right: 20px;
}
.mb20 {
    margin-bottom: 20px;
}
.ml20 {
    margin-left: 20px;
}
.mt24 {
    margin-top: 24px;
}
.mr24 {
    margin-right: 24px;
}
.mb24 {
    margin-bottom: 24px;
}
.ml24 {
    margin-left: 24px;
}
.mt32 {
    margin-top: 32px;
}
.mr32 {
    margin-right: 32px;
}
.mb32 {
    margin-bottom: 32px;
}
.ml32 {
    margin-left: 32px;
}
.mt48 {
    margin-top: 48px;
}
.mr48 {
    margin-right: 48px;
}
.mb48 {
    margin-bottom: 48px;
}
.ml48 {
    margin-left: 48px;
}
.fs22 {
    font-size: 22px;
}
.fs0 {
    font-size: 0;
}
.fs12 {
    font-size: 12px;
}
.fs14 {
    font-size: 14px;
}
.fs16 {
    font-size: 16px;
}
.fs18 {
    font-size: 18px;
}
.fs20 {
    font-size: 20px;
}
.fs24 {
    font-size: 24px;
}
.fs26 {
    font-size: 26px;
}
.fs32 {
    font-size: 32px;
}
.br10, .br10_hover{
    border-radius: 10px;
}
.br20, .br20_hover{
    border-radius: 20px;
}
.br30, .br30_hover {
    border-radius: 30px;
}
.circle, .circle_hover{
    border-radius: 50%;
}

.alc{
    align-items: center;
}
.jcs{
    justify-content: space-between;
}

.ra-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.g_thumb {
    position: relative;
    display: block;
    overflow: hidden;
    background-size: cover;
}
.g_thumb img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform ease-out .3s;
}
/*Color*/
.bg-black {
    background: black;
}
/*Width & Heigh */
.w18{
    width: 18px;
}
.h18{
    height: 18px;
}
.w20{
    width: 20px;
}
.h20{
    height: 20px;
}
.w32{
    width: 32px;
}
.h32{
    height: 32px
}
.w50{
    width: 50px;
}
.h50{
    height: 50px;
}
.w75{
    width: 75px;
}
.h75{
    height: 75px;
}
.w100{
    width: 100px;
}
.h100{
    height: 100px;
}
/*Left Right Top Bottom*/

/* z-index */
.zn1{
    z-index: -1;
}
.z1{
    z-index: 1;
}
.z2{
    z-index: 1;
}
.z3{
    z-index: 1;
}
.z4{
    z-index: 1;
}
.z5{
    z-index: 1;
}
.z10{
    z-index: 1;
}
.z50{
    z-index: 1;
}
.z100{
    z-index: 1;
}
/* color */
.bg-none{
    background: none;
}
.bd-none{
    border: unset;
}

/* animation */

