.bg-dark-1{
    background: var(--dark-color);
}
.bg-dark-2{
    background: var(--dark-color-2);
}
.hover-bg:hover{
    background: #173a53;
}
.g_thumb {
    width: 50px;
    height: 50px;
}
.g_thumb img{
    object-fit: cover;
}
.tweet-box .form-action button{
    height: 40px;
    width: 72px;
}
.tweet-attr .tweet-img .g_thumb{
    height: 250px;
}
.profile-cover .g_thumb {
    width: auto;
    height: 200px;
}
.profile-meta .profile-avatar {
    position: absolute;
    bottom: 0;
    width: 134px;
    height: 134px;
    box-sizing: border-box;
    border: 5px solid transparent;
    background: var(--dark-color);
}
@media screen and (max-width: 767px) {
    .profile-meta .profile-avatar {
        width: 100px;
        height: 100px;
    }
}
span.follower-item {
    width: 23px;
    height: 23px;
    display: inline-flex;
    border: 2px solid transparent;
    background: var(--dark-color);
}
.profile-action:before {
    content: '';
    margin-left: auto;
    height: 37px;
}
div#app-frontend {
    max-width: 1250px;
}

.btn-outline-primary:hover {
    background-color: #3490dc00;
}
.reset-form-control, .reset-form-control:hover, .reset-form-control:focus {
    background: #14202a;
}
/*Animation */
.heart {
    cursor: pointer;
    height: 50px;
    width: 50px;
    background-image:url( '/img/theme/web_heart_animation.png');
    background-position: left;
    background-repeat:no-repeat;
    background-size:2900%;
    transform: translate(-50%, -50%);
}
.heart._liked {
    background-position: right;
}
.heart._like_Animation{
    animation: heart-burst .8s steps(28) 1;
}

@keyframes heart-burst {
    from {background-position:left;}
    to { background-position:right;}
}
.headerx-enter-active, .headerx-leave-active {
    transition: all .5s;
}
.headerx-enter, .headerx-leave-to {
    opacity: 0;
    transform: translateY(-20px);
}
.profilex-enter-active, .profilex-leave-active {
    transition: all .5s;
}
.profilex-enter, .profilex-leave-to {
    opacity: 0;
    transform: translateX(20px);
    position: absolute;
}

/* Loading */

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid transparent;
}
.loading .effect-1,  .loading .effect-2{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-left: 3px solid #007bff;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.loading .effect-1{
    animation: rotate 1s ease infinite;
}
.loading .effect-2{
    animation: rotateOpacity 1s ease infinite .1s;
}
.loading .effect-3{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-left: 3px solid #007bff;
    -webkit-animation: rotateOpacity 1s ease infinite .2s;
    animation: rotateOpacity 1s ease infinite .2s;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.loading .effects{
    transition: all .3s ease;
    display: block;
}

@keyframes rotate{
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
@keyframes rotateOpacity{
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: .1;
    }
    100% {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
        opacity: 1;
    }
}
/* Header */
.site-header{
    position: fixed;
    z-index: 9;
    top: 0;
}
.site-content {
    padding-top: 50px;
}
form._prosessing button[type="submit"]>span:first-child {
    display: none;
}
form._uploading .loading, ._success .upsuccess, ._failed .upfailed {
    opacity: 1;
}
.upsuccess, .loading, .upfailed {
    opacity: 0;
}
